<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <!-- UTF-8 -->
    <meta charset="UTF-8" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/global.css" />
    <title>Criar Sala - Rocket.Q</title>
  </head>
  <body>
    <!-- Home -->
    <div id="home" class="content">
      <div id="bg">
      <div class="ball top"></div>
      <div class="ball bottom"></div>
      </div>

        <header>
          <a href="/">
            <img src="/images/img/logo.svg" alt="Rocket.Q Logo" />
          </a>
        </header>
        <main>
          <div class="container">
          <%- include(`parts/${page}`) %>

          </div>
        </main>
      
        <!-- Home -->
      </div>
    </body>
    </html>
    